@media (min-width: 1350px) {
    .container{
        width: 1350px;
        margin-top:-50px;
        margin-left:10px;
    }
}

table {
    border: 0;
    padding: 0;
    margin: 0 0 20px 0;
    border-collapse: collapse;
}
th {
    padding: 5px;
    /* NOTE: th padding must be set explicitly in order to support IE */
    /*text-align: right; */
    vertical-align: top;
    font-weight:bold;
    /*line-height: 2em;*/
    color: #FFF;
    background-color: #555;
}
tbody td {
    padding: 5px;
    line-height: 18px;
    border-top: 1px solid #E0E0E0;
}
tbody tr:nth-child(2n) {
    background-color: #F7F7F7;
}
tbody tr:hover {
    background-color: #EEEEEE;
}
td {
    text-align: left;
}
td:first-child, th:first-child {
    text-align: left;
}
