<div class="container">
    <h3>&nbsp;</h3>
    <div class="row">         
         <transfer-search 
            [search]="search" 
            (transferSearchEvent)="searchAction($event)">
         </transfer-search>
    </div>

    <div class="row" *ngIf="searchedTransferList.length >= 0 ">
        <transfer-header-detail
            [transferList]="searchedTransferList"
            [showUpdate]="true"
            (updateItemEvent)="updateItemEvent($event)"
        >
        </transfer-header-detail>        
    </div>

    <div class="row top10" *ngIf="searchedTransferList.length == 0 && searchReturnResult">
        <span class="alert alert-info">
            <strong>Can not find any records matching your search.</strong>
        </span> 
    </div>

</div>


<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">{{modalTitle}}</h4>
    </modal-header>

    <modal-body>
        <form #f="ngForm" class="form-horizontal" novalidate (ngSubmit)="onSubmit(f)">
                      <div class="row">
                        <div class="col-md-6">
                          <fieldset>
                              <legend>Transfer Header</legend>
                              <transfer-header 
                                [updateMode] = "true"
                                [transfer]="transfer" 
                                (getSequenceIDEvent)="getSequenceID($event)"
                                (newTransferButtonClickEvent)="newTransfer($event)"></transfer-header>
                          </fieldset>                          
                        </div>
                        <div class="col-md-6">
                          <fieldset>
                              <legend>Transfer Detail</legend>
                              <transfer-detail 
                                [updateMode] = "true"
                                [IsFormValid] = "true"
                                [transferDetail]="transferDetail" 
                                (transferDetailSavedEvent)="saveTransferDetail($event)" ></transfer-detail>

                              <transfer-confirm-input
                                [updateMode] = "true"
                                [transferDetail]="transferDetail"                                
                              >
                              </transfer-confirm-input>

                          </fieldset>            
                        </div>
                      </div>
                    </form>
    </modal-body>

    <modal-footer>        
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="updateTransfer()">Save</button>
    </modal-footer>

</modal>


