<div class="container">
    <h3>&nbsp;</h3>
    <div class="row">         
         <transfer-search 
            [search]="search" 
            (transferSearchEvent)="searchAction($event)">
         </transfer-search>          
    </div>

    <div class="row" *ngIf="searchedTransferList.length > 1 && searchedTransferList.length <=10">
        <transfer-header-detail
            [transferList]="searchedTransferList"
            [showRemove]="false"
            [showSelect]="true"
            (selectItemEvent)="selectItemEvent($event)"
        >
        </transfer-header-detail>        
    </div>

    <div class="row top10" *ngIf="searchedTransferList.length == 0 && searchReturnResult">
        <span class="alert alert-info">
            <strong>Can not find any records matching your search.</strong>
        </span> 
    </div>

    <div class="row top10" *ngIf="searchedTransferList.length > 10">
        <span class="alert alert-info">
            <strong>You have more than 10 records in your search results. Please narrow down your search criteria.</strong>
        </span> 
    </div>

    <div class="row top10">    
        <div class="col-md-6">
            <form #f="ngForm" class="form-horizontal" novalidate (ngSubmit)="onSubmit(f)">        
                <transfer-confirm-input 
                    [sequenceID]="transfer.SequenceID"
                    [updateMode]="false"
                    [transferDetail]="transferDetail"                     
                    (transferConfirmedEvent)="confirmTransferDetail($event)">
                </transfer-confirm-input>
            </form>
        </div>
    </div>

</div>

