<div class="container">

  <div class="row">  
      <h3>&nbsp;</h3>    
  </div>

  <div class="row">
      <article class="col-sm-12">

        <div class="widget-body no-padding">
              <alert type="info" class="no-margin fade in" dismisser="">
                <i class="fa-fw fa fa-info"></i>                
                Working corporate actions
              </alert>
              
              <div>
                <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>Reference</th>
                    <th>Event Type</th>                    
                    <th>Created Date</th>
                    <th>Subject</th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>                      
                  <tr *ngFor="let c of offlineCorpActionList">
                    <td>{{c.Reference}}</td>
                    <td>{{c.EventType}}</td>
                    <td>{{c.CreatedDate | date: 'dd/MM/yyyy'}}</td>
                    <td>{{c.Subject}}</td>
                    <td>
                        <a [routerLink]="['/corporateaction-add-offline', c.Reference]" class="">Continue</a>                        
                    </td>
                    <td>
                        <a (click)="removeFromOffline(c.Reference)" class="">Remove</a>
                    </td>
                    <td></td>
                  </tr>
                  </tbody>                  
                </table>
              </div>
        </div>

      </article>
  </div>

</div>
