<div class="container">

    <h3>&nbsp;</h3>

    <div *ngIf="errorMessage != ''" class="alert alert-error">
        Error: {{errorMessage}}
    </div>

    <form #f="ngForm" class="form-horizontal" novalidate (ngSubmit)="onSubmit(f)">

        <div class="form-group">
            <label class="col-sm-2 control-lable">Reference No:</label>
            <div class="col-sm-10">
                <input type="text" disabled class="form-control" name="reference" [(ngModel)]="corporateAction.Reference" placeholder=""
                />
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Client Code:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <select class="form-control col-sm-2" name="client-code" id="client-code" [ngModel]="corporateAction.ClientCodes[0]" (change)="setClientCode($event)"
                        required>
                        <option value="" disabled selected>Select ...</option>
                        <option *ngFor="let c of clientCodes" value="{{c}}">{{c}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Due Date:</label>
            <div class="col-sm-9">
                <div class="input-group">
                    <input type="text" name="dueDate" placeholder="Select a due date" class="form-control datepicker" validateDueDate required
                        #dueDate="ngModel" [ngModel]="corporateAction.DueDate" [(ngModel)]="corporateAction.DueDate" [saUiDatepicker]="{
                            dateFormat: 'dd/mm/yy'
                            }">
                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                    format as (dd/mm/yyyy)
                </div>
                <div class="">
                    <small [hidden]="dueDate.valid || (dueDate.pristine && !f.submitted)" class="text-danger">
                            Due date has to be today or after today
                        </small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Issuer Code:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="issuerCode" required [ngModel]="corporateAction.IssuerCode" placeholder="Issuer Code"
                    [saJquiAutocomplete]="ajaxIssuerAutocompleteOptions" #issuerCodeInput />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Issuer Name:</label>
            <div class="col-sm-10">
                <input type="text" disabled class="form-control" name="issuerName" [(ngModel)]="corporateAction.IssuerName" placeholder="Issuer Name"
                />
            </div>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Event Type:</label>
            <div class="col-sm-10">
                <select class="form-control" name="eventType" [(ngModel)]="corporateAction.EventType" required>
                    <option value="default" default>Please select an event type</option>
                    <option *ngFor="let t of eventTypes" value={{t}}>{{t}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Subject:</label>
            <div class="col-sm-10">
                <input required type="text" class="form-control" name="subject" [(ngModel)]="corporateAction.Subject" placeholder="Subject"
                />
            </div>
        </div>

        <div class="form-group has-feedback">
            <label class="col-sm-2 control-lable">APIR Codes:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="apircodes" [(ngModel)]="currentAPIR" placeholder="Enter the APIR" [saJquiAutocomplete]="ajaxAPIRAutocompleteOptions"
                    #apirCodeInput (keyup.enter)="addAPIR()" />
                <span (click)="addAPIR()" class="glyphicon glyphicon-plus form-control-feedback"></span>
            </div>
            <div class="col-sm-4">
                <button type="button" class="btn btn-info" (click)="modal.open()"> Select APIR </button>
            </div>
        </div>

        <div>
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
                <ul class="list-unstyled small-scrollbar">
                    <li *ngFor="let apir of corporateAction.APIRCodes;let i=index" class="tag">
                        {{apir}} - {{ corporateAction.APIRLabels[i]}} <span (click)="removeAPIR(apir)" class="glyphicon glyphicon-remove"></span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-lable">Details:</label>
            <div class="col-sm-10">
                <div class="summernote" [summernote]="{height: 180}" [codeText]="corporateAction.Description" (codeChange)="changed($event)"></div>
            </div>
        </div>

        <div class="form-group" *ngIf="!editMode">
            <label class="col-sm-2 control-lable">Documents:</label>
            <div class="col-sm-10">
                <div class="alert alert-warning">The files uploaded won't be saved in the draft</div>
                <simple-demo #fileUploader></simple-demo>
            </div>
        </div>

        <!--<div class="form-group">
            <label class="col-sm-2 control-lable"></label>
            <div class="col-sm-10">                
                <ul class="tag">
                    <li *ngFor="let d of corporateAction.Documents;let i=index" class="tag">
                        {{ d }} <span (click)="removeDocument(i)"class="glyphicon glyphicon-remove"></span>
                    </li>
                </ul>
            </div>
        </div>-->


        <div class="form-gorup">
            <label class="col-sm-2 control-lable"></label>
            <div class="col-sm-7">
                <button type="submit" [disabled]="f.invalid">Submit</button>
            </div>
            <div class="col-sm-3" *ngIf="!editMode">
                <button type="button" (click)="saveDraftCorporateAction()">Save Draft</button>
                <span *ngIf="inProgress"><i class="glyphicon glyphicon-repeat"></i> Saving Draft ...</span>
            </div>
        </div>

    </form>

    <simple-notifications [options]="options" (onDestroy)="onDestroy($event)"></simple-notifications>
</div>


<modal #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">Select APIR</h4>
    </modal-header>

    <modal-body>
        <div>
            <div class="row">
                <div class="col-md-8">
                    Keywords: <input #searchBox id="search-box" (keyup)="search(searchBox.value)" />
                    <button class="btn btn-default" (click)="search(searchBox.value)">Search</button>
                </div>
            </div>

            <div class="row top10">
                <div class="col-sm-7">
                    <div class="form-group">
                        <select #multiSelectAPIRInputLeft multiple="multiple" id="selectFrom" class="form-control custom-scroll" style="height:400px"
                            title="">                                                
                        <option *ngFor="let apir of multipleSelectAPIRFrom" value="{{apir.Code}}">{{apir.Code}} - {{apir.Name}}</option>
                    </select>
                    </div>
                </div>

                <div class="col-sm-1">
                    <button (click)="moveSelectionToRight()" class="btn btn-default"> <i class="glyphicon glyphicon-arrow-right"></i> </button>
                    <br />
                    <br />
                    <button (click)="moveSelectionToLeft()" class="btn btn-default"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <select #multiSelectAPIRInputRight multiple="multiple" id="selectTo" class="form-control custom-scroll" style="height:400px"
                            title="">
                        <option *ngFor="let apir of multipleSelectAPIRTo" value="{{apir.Code}}">{{apir.Code}}</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </modal-body>

    <modal-footer [show-default-buttons]="false">
        <button (click)="addMultiSelectedAPIR()" class="btn btn-default">Add</button>
        <button (click)="closeDialog()" class="btn btn-default">Cancel</button>
    </modal-footer>
    
</modal>
