:host { width: 300px; display: block; position: absolute; }

.ui-autocomplete {height: 200px; overflow-y:scroll; overflow-x:hidden;}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }