:host { width: 300px; display: block; position: absolute; }

.ui-autocomplete {height: 200px; overflow-y:scroll; overflow-x:hidden;}

.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top17 { margin-top:17px; }
.top30 { margin-top:30px; }

.scrollbar {
    float:left;
    width:600px;
    overflow-y: auto;    
    max-height: 400px;
    margin-top: 5px;    
}

.small-scrollbar {
    float:left;
    width:600px;
    overflow-y: auto;        
    max-height: 100px;
    margin-top: 5px;    
    margin-bottom: 15px;
}

.comment-scrollbar {
    float:left;
    width:100%;
    overflow-y: auto;
    overflow-x: hidden;    
    margin-top: 5px;    
    margin-bottom: 25px;
    min-height: 200px;
    max-height: 200px;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

@media (min-width: 1250px) {
    .container{
        width: 1250px;
    }
}

div.modal-footer {
    border-top: 0px !important;
}