<div class="container">

    <div class="row">
        <h3>&nbsp;</h3>
        <sa-widget [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false" [colorbutton]="false" [deletebutton]="false">

            <header>
                <span class="widget-icon"><i class="glyphicon glyphicon-stats txt-color-darken"></i></span>
                <h2>Corporate Actions</h2>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <label class="">Client Code:</label>
                <select class="" name="client-code" id="client-code" [ngModel]="selectedClientCode" (change)="setClientCode($event)">
                    <option value="" disabled selected>Select ...</option>
                    <option *ngFor="let c of clientCodes" value="{{c}}">{{c}}</option>
                    <option value="AMQ">Amq</option>
                    <option value="Test">Test</option>
                </select>
                <i class='glyphicon glyphicon-refresh' (click)="refreshCorpActions()"></i>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" (click)="viewStatus('current');"><i class="fa fa-clock-o" ></i> <span class="hidden-mobile hidden-tablet"></span>Current</a>
                    </li>
                    <li>
                        <a data-toggle="tab" (click)="viewStatus('closed');"><i class="fa fa-list-alt" ></i> <span class="hidden-mobile hidden-tablet">Closed</span></a>
                    </li>
                </ul>
            </header>

            <div class="no-padding">
                <div class="widget-body">
                    <sa-widgets-grid>
                        <!-- row -->
                        <div class="row">
                            <!-- NEW WIDGET START -->
                            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="alert alert-info">
                                    <strong>NOTE:</strong> You can switch the client code above
                                </div>
                                <!-- Widget ID (each widget will need unique ID)-->
                                <sa-widget class="well">
                                    <!-- widget options:
                                        usage: <sa-widget id="wid-id-0" [editbutton]="false">
                                        [colorbutton]="false"
                                        [editbutton]="false"
                                        [togglebutton]="false"
                                        [deletebutton]="false"
                                        [fullscreenbutton]="false"
                                        [custombutton]="false"
                                        [collapsed]="true"
                                        [sortable]="false"
                                    -->
                                    <header>
                                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                                        <h2>Widget Title </h2>
                                    </header>

                                    <!-- widget div-->
                                    <div>
                                        <!-- widget content -->
                                        <div class="widget-body no-padding" data-sparkline-container="">

                                            <sa-datatable [options]="options" [detailsFormat]="detailsFormat" 
                                                (btnViewClicked)="onBtnViewClicked($event)" 
                                                (btnEditClicked)="onBtnEditClicked($event)"
                                                (btnOther1Clicked)="onBtnEmailClicked($event)"
                                                tableClass="display projects-table table table-striped table-bordered table-hover"
                                                width="100%">
                                                <thead>
                                                    <tr>
                                                        <!--<th></th>-->
                                                        <th>Event Type</th>
                                                        <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>Date Added</th>                                                        
                                                        <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>Due Date</th>                                                        
                                                        <th>Reference</th>
                                                        <th>Subject</th>
                                                        <th>Issuer Code</th>
                                                        <th>Client Code</th>
                                                        <th>Status</th>
                                                        <th><i class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>Followup Date</th>
                                                    </tr>
                                                </thead>
                                            </sa-datatable>

                                        </div>
                                        <!-- end widget content -->
                                    </div>
                                    <!-- end widget div -->
                                </sa-widget>
                                <!-- end widget -->
                            </article>
                            <!-- WIDGET END -->
                        </div>
                        <!-- end row -->
                    </sa-widgets-grid>
                    <!-- end widget grid -->
                </div>
            </div>
        </sa-widget>
    </div>
</div>

<modal (onClose)="closed()" (onDismiss)="dismissed()" (onOpen)="opened()" #modal>
    <modal-header [show-close]="true">
        <h4 class="modal-title">View</h4>
    </modal-header>

    <modal-body>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#status">Status</a></li>            
            <li><a data-toggle="tab" href="#followup">Follow up</a></li>
            <li><a data-toggle="tab" href="#comment">Comment</a></li>
            <li><a data-toggle="tab" href="#document">Documents</a></li>
            <li><a data-toggle="tab" href="#assets">Assets</a></li>
            <li><a data-toggle="tab" href="#description">Description</a></li>
        </ul>

        <div class="tab-content">
            <div id="status" class="tab-pane active">
                
                <form #f="ngForm" class="form-horizontal container" novalidate (ngSubmit)="onSubmit(f)" style="width:100%">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-lable">Status:</label>
                        <div class="col-sm-9">                            
                            <select class="form-control" name="status" id="status" [(ngModel)]="selectedStatus">
                                <option value="" disabled selected>Select ...</option>
                                <option *ngFor="let c of status" value="{{c}}">{{c}}</option>
                            </select>                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-lable">Status Comment:</label>
                        <div class="col-sm-9">
                            <textarea rows="4" class="form-control" name="statusComment" [(ngModel)]="selectedStatusComment" required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default">Update</button>
                        </div>
                    </div>

                </form>

            </div>

            <div id="followup" class="tab-pane fade">
                
                <form #f2="ngForm" class="form-horizontal container" novalidate (ngSubmit)="onSubmitFollowup(f2)" style="width:100%">
                    <div class="form-group"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-lable">Followup Date:</label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" name="followupDate" placeholder="Select a followup date if you need to follow up this (dd/mm/yyyy)" 
                                    class="form-control col-sm-6 datepicker"
                                    [(ngModel)]="selectedFollowupDate">
                                    <!--<span class="input-group-addon"><i class="fa fa-calendar"></i></span>-->
                                <span>dd/mm/yyyy</span>                    
                            </div>
                            
                            <div class="">
                            </div>
                        </div>
                    </div>                  

                    <div class="form-group">
                        <label class="col-sm-3 control-lable">Followup Comment:</label>
                        <div class="col-sm-9">
                            <textarea rows="4" class="form-control" name="statusComment" [(ngModel)]="selectedFollowupComment" required>
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-default">Update</button>
                        </div>
                    </div>

                </form>

            </div>

            <div id="comment" class="tab-pane fade">                
                <ul class="list-unstyled comment-scrollbar">
                    <li *ngFor="let n of comments">
                        <div class="row session">
                            <span class="col-md-4">{{n.Added | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
                            <span class="col-md-2">{{n.AddedBy}}</span>
                            <span class="col-md-6">{{n.Comment}}</span>
                        </div>
                    </li>
                </ul>

                <div id="addnote" style="width: 100%; position: fixed; bottom: 5px; left:20px">
                    <button class="btn btn-default" valign="top"  style="height:30px;margin-left:10px" (click)="addNote()">Add</button>
                    <input type="text" class="col-md-10" name="newNote" valign="bottom" placeholder="Add your note here" [(ngModel)]="quickNote" (keyup.enter)="addNote()" #newNote />                    
                </div>
            </div>

            <div id="document" class="tab-pane fade custom-scroll">                
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let n of documents">
                        <a href={{n}}>{{getLinkFileName(n)}}</a>
                    </li>                
                </ul>
            </div>

            <div id="assets" class="tab-pane fade custom-scroll">
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let apir of selectedAPIRCodes; let i=index">
                        {{apir}} - {{selectedAPIRLabels[i]}}
                    </li>
                </ul>
            </div>

            <div id="description" class="tab-pane fade custom-scroll">
                <div class="summernote" [summernote]="{height: 180}" #summernote></div>
            </div>

        </div>

    </modal-body>

    <modal-footer [show-default-buttons]="false"></modal-footer>

</modal>