<div class="container">
    <div class="row">
        <h3>&nbsp;</h3>
        <sa-widget [togglebutton]="false" [editbutton]="false" [fullscreenbutton]="false" [colorbutton]="false" [deletebutton]="false">

            <header>
                <span class="widget-icon"><i class="glyphicon glyphicon-stats txt-color-darken"></i></span>
                <h2>Corporate Actions</h2>
                <ul class="nav nav-tabs pull-right in" id="myTab">
                    <li class="active">
                        <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o" ></i> <span class="hidden-mobile hidden-tablet"></span>Current</a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#s2"><i class="fa fa-facebook" ></i> <span class="hidden-mobile hidden-tablet">OverDue</span></a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#s3"><i class="fa fa-dollar" ></i> <span class="hidden-mobile hidden-tablet">Completed</span></a>
                    </li>
                </ul>
            </header>

            <div class="no-padding">
                <div class="widget-body">

                    <datatable [dataset]=rowData>
                        <column [value]="'DueDate'" [header]="'Due Date'"></column>
                        <column [value]="'Reference'" [header]="'Reference'"></column>
                        <column [value]="'EventType'" [header]="'Event Type'"></column>
                        <column [value]="'Subject'" [header]="'Subject'"></column>
                        <column [value]="'IssuerCode'" [header]="'Issuer Code'"></column>
                    </datatable>

                </div>

            </div>

        </sa-widget>
    </div>
</div>