<div class="container">
  <h1>Test</h1>
  <form #f="ngForm" novalidate>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" class="form-control" name="password" [ngModel]="passwordstr" required validateEqual="confirmPassword"
        reverse="true" #password="ngModel">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        Password is required
      </small>
      <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
    </div>

    <div class="form-group">
      <label for="">Retype password</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="confirmPasswordstr" required validateEqual="password"
        reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Password mismatch
      </small>
      <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
    </div>

    <div class="form-group">
      <label class="control-lable">Due Date:</label>

      <div class="input-group">
        <input type="text" name="dueDate" placeholder="Select a due date" class="form-control datepicker" validateDueDate required
          #dueDate="ngModel" [ngModel]="dueDateStr"
            (change)="dueDateChange($event)"
            [saUiDatepicker]="{
                            dateFormat: 'dd/mm/yy',
                            change: testchagne()
                            }">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      </div>
      <small [hidden]="dueDate.valid || (dueDate.pristine && !f.submitted)" class="text-danger">
                  Date has to be after today
                </small>

    </div>

    <div claa="row">
      <div class="margin-20" *ngIf="f">
        <div>Form details:-</div>
        <pre>Is form valid?: <br>{{f.valid | json}}</pre>
        <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
        <pre>submitted value: <br>{{f.value | json}}</pre>
        <pre>duedate value: <br>{{dueDateStr}}</pre>
      </div>
    </div>
  </form>



</div>