<div>
    <!-- <div class="form-group">
          <label class="col-sm-2 control-lable">Reference No:</label>
          <div class="col-sm-4">
              <input type="text" disabled class="form-control" name="reference" [(ngModel)]="transfer.Reference" placeholder=""
              />
          </div>            
    </div> -->
    <div class="form-group">
        <div class="col-sm-4">
            <button type="button" (click)="newTransferButtonClick()" class="btn btn-default"><i class="fa fa-file-o"></i>&nbsp;New Transfer</button>
        </div>
        <div class="col-sm-8">
            <label class="control-label pull-right">SequenceID: <strong>{{transfer.SequenceID}}</strong></label>
        </div>
    </div>

    <div class="form-group">
          <label class="col-sm-4 control-lable">Organisation:</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" name="organistation" required
               placeholder="Organisation" [formControl]="organisation" maxlength="3"
               style="text-transform: uppercase;"
               />
          </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-lable">Investor:</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" name="investor" required [(ngModel)]="transfer.Investor" placeholder="Investor" />
        </div>
    </div>
 <div class="form-group">
            <label class="col-sm-4 control-lable">Request Type:</label>
            <div class="col-sm-8">
                <select class="form-control" name="requestType" [(ngModel)]="transfer.RequestType" required>
                    <option value="default" default>Please select a request type</option>
                    <option *ngFor="let t of requestTypes" value={{t}}>{{t}}</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-lable">Received Date:</label>
            <div class="col-sm-8">
                <div class="input-group">
                    <input type="text" name="receivedDate" 
                        placeholder="Select a received date (dd/mm/yyyy)" class="form-control datepicker" required
                        #receivedDate="ngModel" [(ngModel)]="transfer.ReceivedDate"
                        (onSelectDate)="receivedDateChanged($event)" 
                        [saUiDatepicker]="{
                                dateFormat: 'dd/mm/yy'                            
                            }">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                     
                </div>
            </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-lable">Transferee:</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" name="transferee" 
                required
                [(ngModel)]="transfer.Transferee" placeholder="Tranferee" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-lable">Group:</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" name="group" 
                required
                [(ngModel)]="transfer.Group" placeholder="Group" />
          </div>
        </div>
        

    <div class="form-group">
        <label class="col-sm-4 control-lable">Investor Name:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="investor-name" required [(ngModel)]="transfer.InvestorName" placeholder="Investor Name" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-lable">Investor Id:</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" name="investor-id" required [(ngModel)]="transfer.InvestorId" placeholder="Investor Id" />
        </div>
      </div>
     
        <div class="form-group">
            <label class="col-sm-4 control-lable">NCBO:</label>
            <div class="col-sm-6">
                <select class="form-control" name="ncbo" [(ngModel)]="transfer.Ncbo" required>
                    <option value="default" default>Please select a Yes/No</option>
                    <option *ngFor="let t of ncboValues" value={{t}}>{{t}}</option>
                </select>
            </div>
        </div>
</div>